div#member {
	border: 2px solid red;
	height: 100px;
	width: 100px;
	background-color: lightgoldenrodyellow;
}

#game-land {
	background-color: blue;
	padding: 10px;
	height: 100%;
	width: 2418px;
}

html {
	max-height: 670px;
	max-width: 2418px;
	background-color: lightblue;
}

.row {
	width: 2418px;
	min-height: 100px;
	background-color: green;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}
/* To force user using larg screen
 /* @media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
} */
